body{
    max-width: 480;
    margin: auto;
    text-align: center;
}
@media (min-width:768px) {
    body{
        max-width: 960;
    }
    main{
        max-width: 760;
    }
}

header , article , main * {
    border: 1px solid black;
}
main{
    overflow: hidden;
    width: 100%;
}
article{
    float: left;
    width: 100%;
}
section{
    float: left;
    width: 100%;
    overflow: hidden;

}
footer{
    float: left;
    width: 100%;
}