

.contener1 {
   width: 100%;
   height: 100px; 
   background-color: #50194f; 
}

.contener2{
    width: 100%;
    height: 150px;
    background-color: #c931c6;  
}
.contentcontener{
    display: grid;
    grid-template-columns: 100%;
}
.contentcontener2{
    display: grid;
    grid-template-columns: 50% 50%;
}
.contentmiddle{
    width: 100%;
    height: 125px;
    background-color: #34114b;
}
.contentmiddle:nth-child(2){
    width: 100%;
    height: 250px;
    background-color: palevioletred;
}
.contentend{
    width: 100%;
    height: 250px;
    background-color: #5a1657;  
}
.contentend:nth-child(2){
    width: 100%;
    height: 250px;
    background-color: palegoldenrod;
}
.contentend:nth-child(3){
    width: 100%;
    height: 250px;
    background-color: peru;
}
.contentend:nth-child(4){
    width: 100%;
    height: 250px;
    background-color: plum;
}

.footer{
    height: 150px;
    background-color: rgb(138, 74, 74);
}

@media (min-width:960px){
    
    .contener1{
        width: 100%;
        height: 100px;
       background-color: #410c40; 
    }
    
    .contener2{
        width: 200px;
        height: 600px;
        float: left;
        background-color: #c931c6; 
    }
    .contentcontener{
        display: grid;
        grid-template-columns: 50% 50%;
    }
    .contentcontener2{
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
    }
    
    .contentmiddle{
        height: 200px;
        background-color: #A597E8;
    }
    .contentmiddle:nth-child(2){
        height: 200px;
        background-color: palevioletred;
    }
    .contentend{
        height: 250px;
        background-color: #5a1657;  
    }
    .contentend:nth-child(2){
        height: 250px;
        background-color: palegoldenrod;
    }
    .contentend:nth-child(3){
        height: 250px;
        background-color: peru;
    }
    .contentend:nth-child(4){
        height: 250px;
        background-color: plum;
    }
    .footer{
        height: 150px;
        background-color: rgb(138, 74, 74);
    }
}
    